body{
    font-family: Arial, Helventica, sans-serif;
    font-size:15px;
    line-height:1.5; /*amount of space between each line*/
    padding:0;
    margin: 0; /*side margins, 0 so it fits to screen*/
    background-color: white;
}

/* GLobal */
.container{
    width: 80%;
    margin:auto; /*move content to the middle*/
    overflow:hidden; /*hides overflow outside of divs*/
}

.button_1{
    height:38px;
    background:skyblue;
    border:none; /* Gets rid of button border */
    padding-left:20px; /* Makes button longer */
    padding-right:20px;
    color: white; /* Color of button text */
}

/* Header */
header{
    background: black;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: skyblue 3px solid;
}

/* CSS for a tags (hyperlinks) inside the header tag*/
header a{ 
    color: white;
    text-decoration: none; /*remove underline from links*/
    text-transform: uppercase; 
    font-size: 16px;
    display:inline-block;
}

/*CSS for ul tags inside the header tag*/
header ul{
    margin:0;  /* ul has margin by default */
    padding:0; /*removed bullet points*/
}

/*CSS for li tags inside the header tag*/
header li{
    display:inline; /*Makes page links horizontal, removes bullet points*/
    padding: 0 20px 0 20px; /*Top, Right, Bottom, Left, Spacing for page links*/
}

/* CSS for logo id, id uses hashtag*/
header #logo{
    float:left;
}

/*CSS for h1 tag inside logo id tag*/
header #logo h1{
    margin:0;
}

header nav{
    /*float:right; position navigation links to the right*/
    margin-top:10px;
    text-align:center;
}

/* Highlights text if highlight class is applied to tag */
header .highlight, header .current a{
    color: skyblue;
    font-weight:bold;
}

/* Makes text pop when mouse hovers over hyperlinks with the 'a' tag */
header a:hover{
    color: white;
    font-weight:bold;
}

/* Show Case */
#showcase{
    min-height: 400px;
    background:url('../images/showcase.jpg') no-repeat 0 -400px; /* X-axis, Y-axis*/
    text-align:center;
    color:white; 
}

#showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
}

#showcase p{
    font-size:22px;
    color:silver;
}

/* Boxes */
#boxes{
    margin-top:20px;
}

/* Box classes*/
#boxes .box{  
    float:left; /* Makes boxes horizontal instead of stacking on each other*/
    width: 30%; /* Spacing between each box*/
    padding: 10px;
    text-align:center;
}

#boxes .box img{
    width:90px; /* Set box image size */
}

/* Newsletter */
#newsletter{
    padding:15px;
    color:white;
    background:black;
}

#newsletter h1{
    float:left;
}

#newsletter form{
    float:right;
    margin-top:15px;
}

#newsletter input[type="email"]{
    padding:4px;
    height:25px;
    width:250px;
}